<%- include('partials/head.ejs') %>
    <%- include('partials/nav.ejs') %>

        <main>Your System Information<br>

            

            Manufacturer: <%= cpuInfo.manufacturer %> <br>
            Brand: <%= cpuInfo.brand %> <br>
            Vendor: <%= cpuInfo.vendor %> <br>
            Socket: <%= cpuInfo.socket %> <br>
            Speed: <%= cpuInfo.speed %> GHz <br>
                                Processors: <%= cpuInfo.processors %> <br>
                                    Cores: <%= cpuInfo.cores %> <br>
                                        Physical Cores: <%= cpuInfo.physicalCores %> <br>
                                            Performance Cores: <%= cpuInfo.performanceCores %> <br>
                                                Efficiency Cores: <%= cpuInfo.efficiencyCores %> <br>


                                                Os Info <br>
                                                Platform: <%= osInfo.platform %> <br>

  Distro: <%= osInfo.distro %> <br>
  Release: <%= osInfo.release %> <br>
  Codename: <%= osInfo.codename %> <br>
  Kernel: <%= osInfo.kernel %> <br>
  Arch: <%= osInfo.arch %> <br>
  Hostname: <%= osInfo.hostname %> <br>
  FQDN: <%= osInfo.fqdn %> <br>
  Codepage: <%= osInfo.codepage %> <br>
  Logofile: '<%= osInfo.logofile %> <br>
  Serial: <%= osInfo.serial %> <br>
  Build: '<%= osInfo.build %> <br>
  Servicepack: <%= osInfo.servicepack %> <br>
  UEFI: <%= osInfo.uefi %> <br>
  Hypervisor: <%= osInfo.hypervisor %> <br>
  Remote Session: <%= osInfo.remoteSession %> <br>



        </main>

        <%- include('partials/footer.ejs') %>